<p>
  <%= f.text_field(:regexp, :size => 50, :required => true, :disabled => !custom_field.new_record?) %>
  <em class="info">e.g. created_on: 2015-03-31</em>
  <em class="info">{yyyy}-{0000} #=> 2015-0001</em>
  <em class="info">{yy}-{0000} #=> 15-0001</em>
  <em class="info">{YYYY}-{0000} #=> 2014-0001</em>
  <em class="info">{YY}-{0000} #=> 14-0001</em>
</p>

<%= f.hidden_field :is_required, :value => '0' %>
<%= f.hidden_field :visible, :value => '1' %>
<%= hidden_field_tag 'custom_field[role_ids][]', '' %>

<script>
  $(document).ready(function() {
    $('input[type="checkbox"]#custom_field_is_required').parent().remove();
    $('input[type="radio"]#custom_field_visible_on').parent().parent().remove();
  });
</script>
